<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>منصة نوح لتعليم اللغة العربية</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
   
</head>
<body>

    <footer class="site-footer" dir="rtl">
        <div class="footer-bottom">
            <p>جميع الحقوق محفوظة &copy; منصة نوح <span id="current-year">2025</span></p>
        </div>
    </footer>
    <script>
        document.getElementById('current-year').textContent = new Date().getFullYear();
    </script>
</body>
</html>