<section class="main-content" dir="rtl">
  <!-- Hero Section -->
   
  <section class="hero-section">
    
    <div class="hero-content">
      <h1 class="hero-title">نوح</h1>
<br>
<br>
<br>
<br>

      <a href="/grades" class="cta-button">احجز الآن</a>
    </div>
    <div class="hero-image">
      <!-- 
      <img src="mo.jpg" alt="مدرس اللغة العربية">
      <link rel="icon" type="image/x-icon" href="mo.jpg">
      -->

      <img src="assets/mohamedanwar.png" alt="ن" class="logo-icon" />
    </div>
  </section>
</section>
